<div class="post-header">
  <div class="global-container">
    <div class="pt-xhuge">
      <div class="post-meta">
        <div class="hl-post_meta">
          <div class="plain-tags">
            {{#foreach tags}}
              <a href="/tag/{{slug}}">{{name}}</a>{{#unless @last}}, {{/unless}}
            {{/foreach}}
          </div>
          <h1 class="flashy-h1 no-highlight">{{title}}</h1>
          {{> "author-box"}}
        </div>
        <div class="hl-post_meta">
          <p class="hl-post_preview">{{excerpt}}</p>
          {{reading_time}}
          <div class="share-icon w-embed" role="button" tabindex="0" id="copy-link-button" aria-label="Copy link to clipboard">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 45 45" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
              <path d="M28.0624 11.252C28.4058 11.3403 28.7592 11.3623 29.1046 11.4566C33.0527 12.5318 34.4685 17.4745 31.647 20.4373C30.2252 21.9297 28.7612 23.3841 27.2712 24.8083C25.1726 26.8142 21.809 26.7541 19.7446 24.722C19.1823 24.1684 19.1461 23.3379 19.6602 22.7843C20.1803 22.2246 21.0258 22.1745 21.5941 22.7281C22.7126 23.8173 24.4798 23.8234 25.6446 22.6077C26.9177 21.2798 28.2451 20.006 29.5424 18.7001C30.5967 17.637 30.675 16.0543 29.7432 14.959C28.7231 13.7615 26.9338 13.6572 25.7771 14.7504C25.0662 15.4224 24.3935 16.1325 23.6946 16.8165C23.058 17.4404 22.074 17.3541 21.584 16.64C21.2447 16.1465 21.2366 15.4645 21.6483 15.0312C22.4857 14.1486 23.3191 13.256 24.2469 12.4676C25.0582 11.7776 26.0221 11.4045 27.0844 11.2941C27.1447 11.2881 27.2049 11.266 27.2632 11.25C27.5302 11.25 27.7973 11.25 28.0644 11.25L28.0624 11.252Z" fill="currentColor"></path>
              <path d="M11.25 27.2454C11.3323 26.8924 11.3584 26.5293 11.4588 26.1802C11.7018 25.3277 12.1035 24.5594 12.728 23.9296C14.1839 22.4572 15.6338 20.9768 17.1259 19.5405C19.2064 17.5406 22.6484 17.6188 24.6726 19.6689C25.2088 20.2125 25.2269 21.049 24.7148 21.5906C24.1967 22.1362 23.3553 22.1844 22.799 21.6408C21.6764 20.5415 19.8972 20.5415 18.7284 21.7651C17.4593 23.0951 16.1258 24.3669 14.8326 25.6747C13.5253 26.9967 13.7903 29.0949 15.3688 30.0056C16.3989 30.5994 17.7002 30.465 18.5798 29.6345C19.3028 28.9505 19.9896 28.2283 20.7025 27.5323C21.3451 26.9064 22.3572 27.0187 22.8251 27.7549C23.1544 28.2725 23.1223 28.9405 22.6926 29.3838C21.8953 30.2082 21.1282 31.0688 20.2446 31.7989C18.5959 33.165 16.7102 33.492 14.7221 32.7056C12.728 31.9153 11.5934 30.3867 11.2982 28.2504C11.2882 28.1802 11.2661 28.114 11.25 28.0458C11.25 27.779 11.25 27.5122 11.25 27.2454Z" fill="currentColor"></path>
              <circle cx="22.5" cy="22.5" r="21.5" stroke="currentColor" stroke-width="2"></circle>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <img src="{{feature_image}}"
      alt="{{title}}"
      loading="eager"
      style="
        width: 840px;
      "
    />
  </div>
</div>