<header class='site-header'>
  <div class='global-container'>
    <div class='site-nav'>
      <a
        href='/'
        id='logo'
        class='site-logo w-inline-block'
        style="background-image: url('{{asset "images/frame-2.svg"}}');"
      ></a>
      <nav class='nav_categories'>
        <a href='/en/tag/culture' class='nav_category is-first'>Culture</a>
        <a href='/en/tag/tech' class='nav_category'>Tech</a>
        <a href='/en/tag/games' class='nav_category'>Games</a>
        <a href='/en/tag/real-life' class='nav_category is-last'>Real life</a>
        {{!-- <a href='/en/tag/wiki' class='nav_category is-last'>Wiki 421</a> --}}
      </nav>
      <div class='nav_buttons'>
        {{!-- {{#if @member}}
          <a href='#/portal' class='button w-button'>Mi cuenta</a>
        {{else}}
          <a href='#/portal/signup' class='button w-button'>Suscribite</a>
        {{/if}} --}}
        {{!-- <a href='/subscribe' class='button w-button'>Subscribe</a> --}}
        <a href='#' class='button is-icon w-inline-block' data-ghost-search><img
            src='{{asset "images/vector-5.svg"}}'
            loading='lazy'
            alt=''
            class='button_icon is-smaller'
          /></a>
        {{!-- <button id='mode-switch' class='button is-icon w-inline-block'>
          <img
            src='{{asset "images/vector-4.svg"}}'
            loading='lazy'
            alt=''
            class='button_icon is-sun'
          />
          <img
            src='{{asset "images/moon.svg"}}'
            loading='lazy'
            alt=''
            class='button_icon is-moon'
          />
        </button> --}}
        <a href='/' class='button w-button'>EN</a>
      </div>
    </div>
  </div>
</header>
{{!-- <script>
  document.addEventListener('DOMContentLoaded', function() { var logo =
  document.getElementById('logo'); // Original background image var originalBg =
  '{{asset 'images/frame-2.svg'}}'; // Hover background image var hoverBg = '{{asset
    'images/vector-7_1.svg'
  }}'; logo.addEventListener('mouseover', function() {
  logo.style.backgroundImage = 'url(' + hoverBg + ')'; });
  logo.addEventListener('mouseout', function() { logo.style.backgroundImage =
  'url(' + originalBg + ')'; }); });
</script> --}}