{{!< default}}

{{#author}}
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Inicio","item":"https://www.421.news/es/"},{"@type":"ListItem","position":2,"name":"{{name}}"}]}
</script>
  <div class="page-wrapper">
    {{> "site-nav-es" }}
    <div>
      <div class="pv-xhuge">
        <div class="global-container">
          <h1>{{name}}</h1>
          <div class="preview-section">
            <div class="global-container">
              <div class="pt-medium">
                <div class="post_author-box is-full">
                  <div class="author-box">
                    <img src="{{profile_image}}"
                      loading="lazy"
                      alt="Imagen de {{name}}"
                      class="author-photo is-medium"
                    />
                    <p>{{bio}}</p>
                  </div>
                  <div class="nav_buttons is-post">
                    {{#if twitter}}
                      <a href="https://x.com/{{twitter}}"
                        class="button is-icon w-inline-block"
                      >
                        <div class="icon-embed-custom_sm w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="100%"
                            height="100%"
                            viewBox="0 0 27 26"
                            fill="none"
                            preserveAspectRatio="xMidYMid meet"
                            aria-hidden="true"
                            role="img"
                          >
                            <path d="M26.8072 25.3591C26.7619 25.3616 26.7166 25.3663 26.6713 25.3663C24.0501 25.3667 21.4289 25.366 18.8078 25.369C18.7088 25.369 18.6517 25.3352 18.5928 25.2553C16.6388 22.5987 14.6824 19.9441 12.7262 17.2893C12.6018 17.1204 12.4776 16.9514 12.353 16.7826C12.3348 16.758 12.3151 16.7346 12.29 16.7028C12.2631 16.7304 12.2382 16.7528 12.2168 16.7783C10.1884 19.1842 8.16028 21.5903 6.13215 23.9963C5.76749 24.4289 5.40203 24.8608 5.03885 25.2949C4.99513 25.3472 4.94925 25.3677 4.88287 25.3676C3.60832 25.366 2.33377 25.3664 1.05922 25.3661C1.02631 25.3661 0.993524 25.3623 0.957889 25.3602C0.992272 25.2851 4.05439 21.6418 5.66878 19.7369C7.24686 17.8749 8.81594 16.0045 10.3957 14.1298C7.07062 9.6157 3.74847 5.10574 0.410156 0.573669C0.473571 0.573669 0.510003 0.573669 0.546435 0.573669C3.2473 0.573669 5.94806 0.574024 8.64892 0.571777C8.73317 0.571777 8.7852 0.596375 8.83689 0.667447C10.7062 3.2374 12.5777 5.80547 14.449 8.37376C14.4758 8.41054 14.5045 8.44578 14.5377 8.48883C14.5722 8.45016 14.6008 8.41989 14.6277 8.38796C16.2735 6.43506 17.9191 4.48205 19.5648 2.52916C20.0892 1.90678 20.6145 1.28534 21.1369 0.661179C21.1883 0.599686 21.2393 0.571777 21.3194 0.571896C22.5902 0.574379 23.8609 0.573669 25.1317 0.573669C25.1649 0.573669 25.1981 0.573669 25.2607 0.573669C22.3013 4.08518 19.3588 7.5766 16.4129 11.072C16.5385 11.2453 16.6589 11.4119 16.7798 11.5779C18.3216 13.6941 19.8636 15.8102 21.4056 17.9263C23.1169 20.2748 24.8283 22.6231 26.5397 24.9715C26.6284 25.0931 26.7181 25.2141 26.8073 25.3353V25.359L26.8072 25.3591ZM22.0286 22.8405C21.9894 22.7836 21.9639 22.745 21.9368 22.7078C20.9236 21.3168 19.91 19.926 18.8967 18.5351C17.4442 16.5413 15.992 14.5472 14.5394 12.5534C13.0251 10.4748 11.5104 8.39659 9.996 6.31811C9.19996 5.22553 8.40392 4.13284 7.60913 3.03932C7.57008 2.98552 7.53137 2.95524 7.4609 2.95548C6.71745 2.95832 5.97401 2.95713 5.23057 2.95773C5.20701 2.95773 5.18355 2.96447 5.15031 2.96967C5.18025 3.0126 5.20154 3.04464 5.22431 3.07551C6.05587 4.20439 6.88766 5.33315 7.71945 6.46191C9.94738 9.48561 12.1753 12.5092 14.4031 15.533C16.1772 17.9407 17.9512 20.3484 19.7235 22.7576C19.7727 22.8244 19.824 22.849 19.9036 22.8486C20.5712 22.8458 21.2388 22.8471 21.9063 22.8467C21.9394 22.8467 21.9726 22.8435 22.0287 22.8406L22.0286 22.8405Z" fill="currentColor"></path>
                          </svg>
                        </div>
                      </a>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="pv-huge">
                <div class="filters_wrapper">
                  <div class="w-embed">
                    <h2>Escrito por {{name}}</h2>
                  </div>
                </div>
                {{#get "posts"
                  include="tags,authors"
                  limit="all"
                  filter="tag:-'hash-en'+primary_author:{{slug}}"
                  order="published_at desc"
                  as |posts|
                }}
                  <div class="post-grid w-dyn-list">
                    {{#if posts}}
                      <div role="list" class="post-cols w-dyn-items">
                        {{#foreach posts}}
                          {{> "post-card"}}
                        {{/foreach}}
                      </div>
                    {{/if}}
                  </div>
                {{/get}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/author}}
    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
{{> "site-footer"}}
